version: '3.8'
services:
  db:
    image: postgres:15
    container_name: simple-crud-tanstack-fastify_db_data
    environment:
      POSTGRES_USER: todo_user
      POSTGRES_PASSWORD: todo_pass
      POSTGRES_DB: todo_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
volumes:
  db_data: